/* Base */

h1 {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
}
h1 span {
    transition: 0.5s ease-out;
}
h1:hover span:nth-child(1) {
    margin-right: 5px;
}

h1:hover span:nth-child(2) {
    margin-left: 5px;
}
h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
